
<div class="logo"><a href="#">
<img src="/assets/ZatFish_Logo.png" width="540" height="235"  align="middle"/></a></div>

<h4>Welcome <%=@current_user.capitalize%>!</h4>
<center>
<%= link_to "Sign out", destroy_user_session_path %></center>